/*body{
    background: linear-gradient(rgb(133, 204, 1),green,rgb(12, 12, 11));
}*/
#namespace{
    top: 0px;
    margin-top: 0%;
    height: 250px;
    background: linear-gradient(grey,green,rgb(170, 227, 135));
}

#cards-for-box{
    display: flex;
    justify-content:space-evenly ;
    align-content: space-around;
    flex-wrap: wrap;

    height: 980px;
    width: auto;
    border: black ridge 3px;
    border-radius: 2%;

}

.box-contain{
    border: black solid 2px;
    height: 400px;
    width: 400px;
    border-radius: 5%;
    margin: 4px;
    text-align: center;
    
}
.increase-size{
    font-size: 60px;
    text-align: center;
}
.increase-size + h5{
    font-size: 35px;
}


.box-contain :hover{
    border:rgb(137, 214, 137) dotted 3px;
    border-radius: 3%;
    
}

h4 + p{
    text-transform: uppercase;
    margin-top: 50%;
}